.fileTitle {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-cell-size: 20;
	-fx-text-fill: green;
}

.fileField {
	-fx-font-size: 10pt;
	-fx-text-fill: black;
	-fx-font-style: italic;
}

.cellItem {
	-fx-padding: 3px;
}

.cellItem:hover {
	-fx-background-color: #eee;
}

.list-cell:selected {
	-fx-background-color: #eee;
}
